<div *ngIf="cls">
  <a
    class="btn btn-primary"
    style="float: right;"
    routerLink="/invite"
    [queryParams]="{ classId: cls.id }"
    >Invite</a
  >

  <h2>{{ cls.name }}</h2>
  <ul class="list-group margin-bottom" *ngIf="cls.assignments.length > 0">
    <a
      class="list-group-item list-group-item-action"
      routerLink="/assignments/{{ assignment.id }}"
      *ngFor="let assignment of cls.assignments"
      >{{ assignment.title }}</a
    >
  </ul>
  <p *ngIf="cls.assignments.length == 0">No assignments yet!</p>
  <a
    class="btn btn-primary"
    routerLink="/create-assignment"
    [queryParams]="{ classId: cls.id }"
  >
    Create Assignment
  </a>
</div>
