<div *ngIf="cls">
  <a
    class="btn btn-primary"
    style="float: right;"
    routerLink="/invite"
    [queryParams]="{ classId: cls.id }"
    >Invite</a
  >

  <h1 class="display-4">{{ cls.name }}</h1>
  <div *ngIf="cls.subjects" class="margin-bottom">
    <ul class="list-group">
      <a
        *ngFor="let subject of cls.subjects"
        class="list-group-item list-group-item-action"
        routerLink="/subjects/{{ subject.id }}"
        >{{ subject.title }}</a
      >
    </ul>
  </div>

  <a
    class="btn btn-primary"
    routerLink="/create-subject"
    [queryParams]="{ classId: cls.id }"
  >
    Create Subject</a
  >
</div>
