<div *ngIf="cls">
  <a
    class="btn btn-primary"
    style="float: right;"
    routerLink="/invite"
    [queryParams]="{ classId: cls.id }"
    >Invite</a
  >

  <h1>{{ cls.name }}</h1>
  <app-assignments-list
    [assignments]="cls.assignments"
    *ngIf="cls.assignments"
  ></app-assignments-list>

  <p *ngIf="cls.assignments.length == 0">No assignments yet!</p>
  <a
    class="btn btn-primary"
    routerLink="/create-assignment"
    [queryParams]="{ classId: cls.id }"
  >
    Create Assignment</a
  >
</div>
