<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Echoes</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink=""
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="auth.isLoggedIn" routerLink="assignments"
          >My Assignments</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="auth.isLoggedIn" routerLink="classes"
          >My Classes</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="login" *ngIf="!auth.isLoggedIn">Login</a>
        <a href="#" class="nav-link" (click)="logout()" *ngIf="auth.isLoggedIn">Logout</a>
      </li>
    </ul>
  </div>
</nav>
