/* mat-form-field, button {
    width: 100%;
    margin: 5px 0;
  }
  mat-card {
    max-width: 500px;
    margin: auto;
  }
  .error {
    background-color:#ff946d;
    color: #ff4400;
    border-radius: 5px;
    padding: 30px 10px;
  } */
