<h1>New Assignment</h1>
<form (submit)="onSubmit()">
  <div>
    <div class="form-group">
      <input class="form-control" placeholder="Title" [(ngModel)]="assignment.title" name="title" />
    </div>
  </div>
  <div>
    <div class="form-group">
      <textarea class="form-control" placeholder="description" [(ngModel)]="assignment.description" name="description"
        rows="5"></textarea>
    </div>
  </div>
  <div>
    <ngb-datepicker #d [(ngModel)]="dueTo" name="due-to"></ngb-datepicker>
  </div>
  <button type="submit" class="btn btn-success">Save</button>
</form>